.banner {
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;

}

   .banner-with-flat-filter {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background.jpg');
}


